/* Los estilos de tu proyecto */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*Nav*/
.links{
  padding-left:40px;
  padding-right:100px;
}
.navcoll {
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 32px;
  padding-left: 1%;
  font-size: 16px;
}
.logonav{
  width: 13vw;
  height: 50px;
  padding-top: 8px;
  margin-left: 60px;
}
.navbar-toggle {
  background-color: #fff;
  float: left;
  margin-left: 10px;
}
/*Registro*/
.imgwhite{
	background-image: url(../assets/images/taxi.jpg);
	background-position: 20% 91%;
	height: 830px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	color: #fff;
	min-height: 500px;
}

.yellowbox {
  background-color: #F7B617;
  height: 415px;
  margin-top: 270px;
}
.trip {
  color: #fff;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 30px;
}
.time {
  margin-top: 0;
  color: #fff;
  padding-left: 25px;
  font-size: 30px;
}
.travel {
  color: #fff;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 20px;
}
.logow {
  width: 98px;
  height: 23px;
  margin-left: 10px;
}
.btn-default {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 5px;
}
.bottom{
  width:100%;
}
td {
  color: #fff;
  font-size: 15px;
  padding: 30px;
  margin-bottom: 3vh;
  text-align: center;
}
hr{
  width: 120px;
  margin-left: 15px;
}
.driver {
  margin-left: 28px;
}
.boxs {
  background-color: #F7B617;
  height: 240px;
  margin-top: 410px;
}
.start {
  color: #fff;
  margin-bottom: 0;
  padding-top: 40px;
  padding-left: 25px;
  font-size: 30px;
}
.plogowhite{
  color: #fff;
  font-size: 30px;
  padding-left: 25px;
}
.imglogows {
  width: 73px;
  height: 18px;
}
.bottomwhite {
  margin-top: 25px;
}
/* Descarga app*/
.app{
	background-color: #F7B617;
	color:#fff;
  font-weight: lighter;
  width: auto;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}
.app p{
	margin-top: 40px;
  font-size: 21px;
  padding-right: 70px;
  margin-bottom: 22px;
  text-align: justify;
}
.marco{
	border:1px solid white;
	height: 450px;
  margin-top:40px;
  margin-bottom: 25px;
}
.app h3{
	font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 35px;
}
.textapp{
  color: #fff;
  font-size: 21px;
  margin-top: 570px;
  position: relative;
  margin-left: 50px;
}
.img-responsive{
  height: 250px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}
/* Conviertete en conductor*/
.conduce{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  object-fit: cover;
  background-size: cover;
  overflow-y: hidden;
}
.conduce .driv{
  background-color: rgba(0,0,0,0.7);
  margin-top: 0;
  height: 70vh;
}
.driv {
  margin-top: 25vh;
  margin-right: -2.3vh;
  background-color: #F7B617;
  border: none;
  padding: 6vh;
  color: #FFF;
  margin-left: -15px;
}
.driv h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
} 
.driv p{
  font-size: 19px;
}
.bottondriv{
  background-color: #F7B617;
  margin-left: 0px;
}

/* Tarifas y mapa */
.rate {
  margin-top: 0;
  color: #fff;
  padding: 20px;
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 10px;
}
.ask {
  color: #fff;
  font-size: 18px;
  font-weight: normal!important;
  padding: 20px;
  padding-left: 10%;
  padding-top: 0;
  padding-bottom: 5px;
}

.map {
  height: 60vh;
  width:100%;
}

#partida {
  padding: 20px;
  border-radius: 10px;
  background-color: #F7B617;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  border: #fff 1px solid;
}
#destino {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #F7B617;
  border: #fff 1px solid;
  color: #fff;
}
.glyphicon-record:before {
  color: #fff;
  font-size: 20px;
}
.glyphicon-map-marker:before {
  color: #fff;
  font-size: 20px;
}
.ruta {
  margin-left: 36%;
  border-radius: 3px;
  font-size: 14px;
  width: 175px;
  color: #2B2B2B;
  margin-top: 30px;
}
#taradd,#taradd2 {
  padding: 10px;
  margin: 20px;
  background-color: #F7B617;
  border: none;
}
.colorgreen {
  background-color: #F7B617;
  padding-bottom: 40px;
}
.colorpink {
  background-color: #F7B617;
  height: 400px;
}
.coloryellow {
  background-color: #F7B617;
  color: #fff;
  font-size: 18px;
  margin-left: 9%;
  width: 35vw;
  border-radius: 5px;
}
.colorpurple {
  background-color: #F7B617;
  border: 1px solid #fff;
  margin-left: 5.2%;
  width: 40%;
  margin-top: 5%;
}
.mapa {
  padding-bottom: 8px;
  padding-top: 13px;
}

.minimap{
  height: 370px;
  width: 50vw;
  padding: 2vh 1vh 1vh 2vh;
}


/* Footer */
.footer{
	background-color: #1b0f0f;
	color:#fff;
  padding: 20px;
  padding-right: 30px;
  padding-left: 10px;
  height: 530px;
}
.logoFooter{
  margin-top: 50px;
}
.linea{
  color: #fff;
  width: 200vw;
  margin-left: 5px;
}
.menuFooter li{
	margin-top:5px;
	list-style: none;
}
.menuFooter li a{
	color:#fff;
	font-size: 15px;
	text-decoration: none;
}
.menuFooter li a:hover{
	color: #F7A733;
	font-size: 0.9em;
}
.iconos .fa{
	color: #fff;
	margin-right: 10px;
}
.appstore{
  margin-top: 115px;
  height: 40px;
  width: 14vw;
  position: absolute;
  background-repeat: no-repeat;
}
.googleplay  {
  margin-top: 180px;
  height: 40px;
  width: 14vw;
  position: relative;
  background-repeat: no-repeat;
}
/* Mediasquery */

/*Movil*/

@media(min-width: 0) and (max-width: 767px) {
  .secondcontent {
    display: block;
    height: 52vh;
    margin-top: 300px;
  }
  .bigcontent {
    display: none;
  }
  .marco{
  margin-left: 34px;
  height: 80vh;
  width: 90vw;
  position:absolute;
  }
  .img-responsive{
    height: 320px;
    margin-top: 50px;
    margin-left: 70px;
  }
  .map{
    display:none;
  }
  .mapa {
    height: 400px!important;
    margin-left: 22px;
    margin-top: 13px;
  }
  .colorpurple{
  width: 75%;
  margin-left: 56px;
  height: 70vh;
  }
  .rate {
    margin-top: 0;
    color: #fff;
    padding: 20px;
    padding-left: 13px;
    padding-top: 130px;
    padding-bottom: 10px;
  }
  .coloryellow {
    margin-left: 0;
    width: 90%;
  }
  .ask {
    padding-left: 13px;
  }
  .ruta {
    margin-left: 30%;
  }
  .colorpink {
    height: 480px;
  }
  .logonav{
    width: 26vw;
    height: 50px;
    margin-top: 18px;
    margin-left: 60px;
  }
  .appstore{
    width: 130px;
    height: 40px;
    margin-top: 40px;
    margin-left: 30px;
  }
  .googleplay{
    width: 130px;
    height: 40px;
    margin-top: 100px;
    margin-left: 30px;
  }
  .iconos{
    margin-left: 302px;
    margin-top: 0%;
  }
  #modalsignin{
    width:120vw;
    margin-left: 5px;
  }
}


/*Tablets*/
@media(min-width: 768px) and (max-width: 1024px) { 
  .bigcontent {
    display: block;
    height: 50vh;
    width: 100%;
    margin-top: 270px;
  }
  .secondcontent {
    display: none;
  }
  .minimap{
    display:none; 
  }
}
/*Desktop*/
@media(min-width: 1025px) and (max-width:1427px){
  .bigcontent {
    display: block;
  }
  .secondcontent {
    display: none;
  }
 .minimap{
  display:none; 
 }
}

/* Modales */
/* Modal inicio sesion */
.modal-content{
  background-color: #08AC9D;
  width: 65%;
  margin-left: 20%;
  min-height: 16.43px;
	padding: 15px 15px 15px 15px;
	border-bottom: 0px;
}

.imguser{
  width: 35%;
  border-radius: 5px;
  margin-left: 30%;
  margin-bottom: 5%;
  margin-top: 20px;
}
button.close{
  font-size: 3rem;
}
.insidemodalb{
  background-color: #F5F5F5;
  height: 300px;
  width: 90%;
  border-radius: 5px;
  margin-left: 6%;
  margin-bottom: 5%;
  margin-top: 10px;
}
#insig{
  padding-top: 40px;
  width: 90%;
  margin-left: 5%;
}
.btnlog{
  background-color: #F7B617;
  color:#fff!important;
  margin-left: 35%!important;
  margin-top: 5%!important;
  padding-left: 30px;
  padding-right: 30px;
}
.textclick{
  color: #A52A2A;
  margin-left: 1%;
  font-size: 18px;
}
.textpass{
  margin-left: 5%;
  margin-top: 10%;
  font-size: 18px;
}
/* Modal regístrate */
.modal-content2{
  background-color: #A9A9A9;
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}
#regist{
  background-color: #000000;
  color: #fff;
  border:none;
  margin-top:5%;
  margin-left: 11%;
  padding-left: 22%;
  padding-right: 22%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.textactiv{
  margin-left: 30%;
  margin-top: 2%;
}
input#name, .form-control{
  color:initial;
}
#cl2{
  font-size: 3rem;
  padding-right: 2%;
  padding-top: 2%;
}
#name{
  margin-left: 7%;
  width: 14vw;
  position: absolute;
}
#last{
  margin-left: 50%;
  width: 15vw;
  position: relative;
}
#email, #phone, #pass, #city, #inv{
  width: 30vw;
  margin-left: 12%;
  margin-top: 2%;
}
#inputs{
  width:initial;
}
#how{
  width: 90%;
}
#send{
  width: 90%;
  margin-bottom: 3%;
  background-color: #5BC0DE;
  color:#fff;
  border:none;
}

/* Modal conviertete en conductor */
.modal-content{
  background-color: #A9A9A9;
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
  
}
.send2{
  width: 100%;
  margin-bottom: 3%;
  background-color: #5BC0DE;
  color:#fff;
  border:none;
}
